page-home {
.loginBackground{
    background-image: url(../../assets/img/fondologin.png);
    background-repeat: no-repeat;
    background-size: cover;
    //background-color: #45C3CB;
 }
 .logotipo{
     width:100px;
     height: auto;
 }
 .containerLogo{
    margin-top: 80px;
    margin-bottom: 40px;
 }
 .item-md{
     background-color:transparent!important;
 }
 .label-md{
     color:#fff!important;
 }
 .containerCondiciones button{
     color:#fff;
 }
}//corchete final//
