<ion-header>
  <ion-navbar color="ifeep">
    <ion-title>Formulario datos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h6 text-center>Por Favor llena el siguiente formulario, el cual nos servirá para poder ayudarte </h6>
  <form [formGroup]="dataInicial">
    <ion-list>
      <!--Aqui el input con validaciones para el nombre-->
      <ion-item >
        <ion-label stacked>Nombres</ion-label>
        <ion-input formControlName="nombres" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="dataInicial.get('nombres').errors && dataInicial.get('nombres').dirty">
        <p color="danger" ion-text *ngIf="dataInicial.get('nombres').hasError('required')">Este campo es requerido</p>
      </ion-item>
      <!--fin del nombre con validaciones-->

      <!--input de los apellidos con notificaciones de errores-->
      <ion-item >
        <ion-label stacked>Apellidos</ion-label>
        <ion-input formControlName="apellidos" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="dataInicial.get('apellidos').errors && dataInicial.get('apellidos').dirty">
        <p color="danger" ion-text *ngIf="dataInicial.get('apellidos').hasError('required')">Este campo es requerido</p>
      </ion-item>
      <!--fin de apellidos y sus validaciones-->

      <ion-item >
        <ion-label stacked>Telefono</ion-label>
        <ion-input formControlName="telefono" type="number"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label stacked>DNI</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label stacked>Email:</ion-label>
        <ion-input type="email" ></ion-input>
      </ion-item>

      <ion-item >
        <ion-label stacked>País</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label stacked>Ciudad</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label stacked>Distrito</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label stacked>Edad</ion-label>
        <ion-input type="age"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label stacked>Sexo</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <div text-center>
    <button ion-button center (click)="pasaraTabs()" >Guardar datos</button>  
  </div>
  
</ion-content>